@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,800;1,900&family=Roboto:wght@100;300;400;500&display=swap');

button.slick-next {
    right: 60px;
}

button.slick-prev {
    left: 0px;
    z-index: 20;
}

button.slick-next::before {
    content: "\276F";
    color: gray;
    background-color: #dabbbbc4;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

button.slick-prev::before {
    content: "\276E";
    color: gray;
    background-color: #dabbbbc4;
    width: 80px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}